{% extends 'student/personal_center/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|竞赛报名
{% endblock %}

{% block is_activate3 %}
    active
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <form class="form-horizontal"
                      action="/student/stu_apply_edit/?p1={{ group_info.com_id.com_id }}&p2={{ group_info.group_id }}"
                      method="POST">
                    {% csrf_token %}

                    {% if message %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endif %}

                    {% for stu in stu_list %}
                        <div class="form-group">
                            <label for="inputEmail3"
                                   class="col-sm-2 control-label">参赛学生学号（{{ forloop.counter }}）</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="stu_num{{ forloop.counter }}"
                                       id="inputEmail3" value="{{ stu.stu_id.stu_number }}" style="width:50%">
                            </div>
                        </div>
                        {% empty %}
                        <h3>不要回头！不要回头！不要回头！</h3>
                    {% endfor %}

                    {% if info_list.com_group == 1 %}
                        <div class="form-group">
                            <label for="inputEmail1" class="col-sm-2 control-label">组别</label>
                            <div class="col-sm-10">
                                <select name="sort" class="form-control" style="width:50%">
                                    {% for sort in sort_list %}
                                        {% if sort == group_info.com_group %}
                                            <option value="{{ sort.sort_name }}" selected>
                                                {{ sort.sort_name }}
                                            </option>
                                        {% else %}
                                            <option value="{{ sort.sort_name }}">
                                                {{ sort.sort_name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {% if info_list.group_name == 1 %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">小组名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="group_name" class="form-control" id="inputEmail3"
                                       value="{{ group_info.group_name }}" style="width:50%">
                            </div>
                        </div>
                    {% endif %}

                    {% if info_list.product_name == 1 %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">作品名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="product_name" class="form-control" id="inputEmail3"
                                       value="{{ group_info.product_name }}" style="width:50%">
                            </div>
                        </div>
                    {% endif %}

                    {% for teach in teach_list %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">指导教师</label>
                            <div class="col-sm-10">
                                <input type="text" name="tea_name{{ forloop.counter }}" class="form-control"
                                       value="{{ teach.teach_id.tea_name }}" style="width:15%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">院系</label>
                            <select class="form-control" name="depart{{ forloop.counter }}" style="width:30%;">
                                {% for depart in depart_list %}
                                    {% if depart == teach.teach_id.department %}
                                        <option value="{{ depart.depart_name }}"
                                                selected>{{ depart.depart_name }}</option>
                                    {% else %}
                                        <option value="{{ depart.depart_name }}">{{ depart.depart_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}

                    {% if info_list.else_info == 1 %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">备注</label>
                            <textarea class="form-control" name="else_info" rows="3" style="width: 50%">
                                {{ group_info.else_info }}
                            </textarea>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-default">下一步</button>
                </form>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
{% endblock %}