{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	学科竞赛|修改信息
{% endblock %}

{% block content %}
<form class="form-horizontal" action="/alter_info_teach/" method="POST" enctype="multipart/form-data">

	{% if message %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </strong> {{ message }}
    </div>
    {% endif %}

    {% csrf_token %}
    	<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">工号</label>
        	<div class="col-sm-10">
            {% if teach.tea_number == None %}
            <input type="text" class="form-control" name="tea_number" id="exampleInputEmail1" value="" style="width:75%">
            {% else %}
        	<input type="text" class="form-control" name="tea_number" id="exampleInputEmail1" value="{{ teach.tea_number }}" style="width:75%" onfocus=this.blur()>
            {% endif %}
        </div>
    	</div>
		
		<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">姓名</label>
        	<div class="col-sm-10">
            {% if teach.tea_name == None %}
            <input type="text" class="form-control" name="tea_name" id="exampleInputEmail1" value="" style="width:75%">
            {% else %}
            <input type="text" class="form-control" name="tea_name" id="exampleInputEmail1" value="{{ teach.tea_name }}" style="width:75%" onfocus=this.blur()>
            {% endif %}
        </div>
        </div>

		<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">职称</label>
        	<div class="col-sm-10">
			<select name="profess" class="form-control" style="width:75%">
			{% for profess in profess_info %}
				{% if teach.profess.profess_name == profess.profess_name %}         
				<option value ="{{ profess.profess_name }}" selected>{{ profess.profess_name }}</option>
				{% else %}
				<option value ="{{ profess.profess_name }}" >{{ profess.profess_name }}</option>
				{% endif %}
			{% endfor %}
			</select>
			</div>
        </div>
        </div>
        
        <div class="form-group">
            <label for="inputEmail1" class="col-sm-2 control-label">院系</label>
            <div class="col-sm-10">
            <select name="department" class="form-control" style="width:75%">
            {% for depart in depart_info %}
                {% if teach.department.depart_name == depart.depart_name %}         
                <option value ="{{ depart.depart_name }}" selected>{{ depart.depart_name }}</option>
                {% else %}
                <option value ="{{ depart.depart_name }}" >{{ depart.depart_name }}</option>
                {% endif %}
            {% endfor %}
            </select>
            </div>
        </div>
        </div>

        <div class="form-group">
            <label for="inputEmail1" class="col-sm-2 control-label">专业</label>
            <div class="col-sm-10">
            <select name="major" class="form-control" style="width:75%">
            {% for major in major_info %}
                {% if teach.major.major_name == major.major_name %}          
                <option value ="{{ major.major_name }}" selected>{{ major.major_name }}</option>
                {% else %}
                <option value ="{{ major.major_name }}" >{{ major.major_name }}</option>
                {% endif %}
            {% endfor %}
            </select>
            </div>
        </div>
        </div>

		<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">身份证号</label>
        	<div class="col-sm-10">
            {% if teach.ID_number == None %}
            <input type="text" class="form-control" name="ID_number" id="exampleInputEmail1" value="" style="width:75%">
            {% else %}
            <input type="text" class="form-control" name="ID_number" id="exampleInputEmail1" value="{{ teach.ID_number }}" style="width:75%">
            {% endif %}
        </div>
        </div>

		<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">手机号码</label>
        	<div class="col-sm-10">
            {% if teach.phone_number == None %}
            <input type="text" class="form-control" name="phone_number" id="exampleInputEmail1" value="" style="width:75%">
            {% else %}
            <input type="text" class="form-control" name="phone_number" id="exampleInputEmail1" value="{{ teach.phone_number }}" style="width:75%">
            {% endif %}
        </div>
        </div>

		<div class="form-group">
        	<label for="inputEmail1" class="col-sm-2 control-label">邮箱</label>
        	<div class="col-sm-10">
            {% if teach.email == None %}
            <input type="text" class="form-control" name="email" id="exampleInputEmail1" value="" style="width:75%">
            {% else %}
            <input type="text" class="form-control" name="email" id="exampleInputEmail1" value="{{ teach.email }}" style="width:75%">
            {% endif %}
        </div>
        </div>

		<div class="form-group">
        	<label for="exampleInputFile" class="col-sm-2 control-label" style="display:inline-block;">照片</label>
            <input type="file" name="photo" style="display:inline-block;">
            {% if teach.photo != None and teach.photo != '' %}
            <p class="help-block" style="display:inline-block;">客官已经上传过图片啦：）</p>
            {% else %}
            <p class="help-block" style="display:inline-block;">客官还没有上传过图片呢：(</p>
            {% endif %}
        </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" id="exampleInputFile">
        <button type="submit" class="btn btn-default">提交</button>
        </div>
    </div>
</form>
{% endblock %}


