{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 插入标题 -->
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/jquery.eeyellow.Timeline.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <!-- 插入css -->
    {% block css %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 弹出侧边栏 -->
            <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align" id="conbtn">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </button>&nbsp;&nbsp;

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <a class="navbar-brand" style="margin-left: 0px;" href="/home/">学科竞赛</a>

                <li class="{% block is_activate1 %}{% endblock %}">
                    <a href="/home/">首页</a>
                </li>

                <li class="{% block is_activate2 %}{% endblock %}">
                    <a href="/news_list/">新闻</a>
                </li>

                <li class="{% block is_activate3 %}{% endblock %}">
                    <a href="/com_list/">竞赛</a>
                </li>
            </ul>
            <!-- 查询 -->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if request.session.is_login and request.session.user_power == '1' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_center_stu/">总览</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">关注比赛</a></li>
                            <li><a href="/personal_center_stu?tag=2">报名信息</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">奖项</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% elif request.session.is_login and request.session.user_power == '2' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_cnter_teach">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">参赛小组</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">获奖结果</a></li>
                            <li><a href="#">指导记录</a></li>
                            <li><a href="#">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% elif request.session.is_login and request.session.user_power == '3' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_cnter_teach">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/personal_cnter_teach/">参赛小组</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">获奖结果</a></li>
                            <li><a href="#">指导记录</a></li>
                            <li><a href="#">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/com_manage/">比赛</a></li>
                            <li><a href="#">新闻</a></li>
                            <li><a href="#">奖项</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">
                        登录
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel" style=>欢迎登录</h4>
                                </div>
                                <div class="modal-body">
                                    <form class='form-login' action="/login/" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="id_username">账号：</label>
                                            <input type="text" name='account' class="form-control" id="id_username"
                                                   placeholder="账号">
                                        </div>
                                        <div class="form-group">
                                            <label for="id_password">密码：</label>
                                            <input type="text" name='psword' class="form-control" id="id_password"
                                                   placeholder="密码">
                                        </div>
                                        <button type="button" class="btn btn-default float-xs-left"
                                                data-dismiss="modal">
                                            忘记密码
                                        </button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                        <button type="submit" class="btn btn-primary pull-right">登录</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <script>
                    $(document).ready(function () {
                        $("#conbtn").click(function () {
                            $("#cebian").toggle(100);
                        });
                    });
                </script>

                <nav id="cebian" class="navbar-left"
                     style="background-color: white;width: 10%; position: fixed;z-index: 2;padding: 0 0 5% 2%;overflow: auto;top:50px;border: solid rgb(240,240,240) 3px;height: 100%; display: none;">
                    <h2>导航栏</h2>
                    <div>
                        这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>
                        这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>
                        这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能<br>这个功能
                    </div>
                </nav>

            </ul>
        </div>
    </div>
</nav>
<!--  正文 -->
{% block content %}{% endblock %}

</body>


</html>