{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 插入标题 -->
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/jquery.eeyellow.Timeline.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- 插入css -->
    {% block css %}{% endblock %}
    <style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body style=" padding-top: 40px; ">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 弹出侧边栏 -->
            <button type="button" class="btn btn-default navbar-btn" aria-label="Left Align" id="conbtn">
                <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </button>&nbsp;&nbsp;

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <a class="navbar-brand" style="margin-left: 0px;" href="/home/">学科竞赛</a>

                <li class="{% block is_activate1 %}{% endblock %}">
                    <a href="/home/">首页</a>
                </li>

                <li class="{% block is_activate2 %}{% endblock %}">
                    <a href="/news_list/">新闻</a>
                </li>

                <li class="{% block is_activate3 %}{% endblock %}">
                    <a href="/com_list/">竞赛</a>
                </li>
            </ul>
            <!-- 查询 -->
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if request.session.is_login and request.session.user_power == '1' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_center_stu/">总览</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">关注比赛</a></li>
                            <li><a href="/personal_center_stu?tag=2">报名信息</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">奖项</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% elif request.session.is_login and request.session.user_power == '2' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_cnter_teach">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">参赛小组</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">获奖结果</a></li>
                            <li><a href="#">指导记录</a></li>
                            <li><a href="#">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% elif request.session.is_login and request.session.user_power == '3' %}
                    <li role="presentation" class="dropdown">
                        <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ request.session.user_number }}
                            <span class="caret"></span>
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="drop4">
                            <li><a href="/personal_cnter_teach">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/personal_cnter_teach/">参赛小组</a></li>
                            <li><a href="#">参赛经历</a></li>
                            <li><a href="#">获奖结果</a></li>
                            <li><a href="#">指导记录</a></li>
                            <li><a href="#">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/com_manage/">比赛</a></li>
                            <li><a href="#">新闻</a></li>
                            <li><a href="#">奖项</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout/">登出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Button trigger modal -->
                    <a href="/login/" class="btn btn-default navbar-btn" role="button">
                        登录
                    </a>
                    <!-- Modal -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $("#conbtn").click(function () {
            $("#cebian").toggle(100);
        });
    });
</script>

<nav id="cebian" class="navbar-left"
     style="background-color: white;width: 15%; position: fixed;z-index: 2;padding: 0 0 5% 2%;overflow: auto;top:50px;border: solid rgb(240,240,240) 3px;height: 100%; display: none;">
    <h2>导航栏</h2>
    <div>
        这个功能<br>这个功能<br>这个功能
    </div>
</nav>
<!--  正文 -->
{% block content %}{% endblock %}


<footer class="footer navbar navbar-default" style="margin: 0;width: 100%;">
    <div style="width: 80%;margin: 0 auto;text-align: center;">
        地址：广东惠州市演达大道46号 邮编：516007<br>
        总机：0752-2529000 E-mail:webmaster@hzu.edu.cn<br>
        版权所有©惠州学院 粤ICP备********号
    </div>
</footer>

</body>
</html>