{% extends 'personal_center_teach/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block active1 %}
    active
{% endblock %}

{% block body %}
    <div class="panel-heading">
        <h3>比赛详情</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <a href="/com_edit?p={{ com_info.com_id }}" class="btn btn-primary btn-lg active" role="button">编辑</a>
        </div>

        <form class="form-horizontal" action="/com_detail/?p={{ com_info.com_id }}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <h3>竞赛信息</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">名称</span>
                        <input type="text" class="form-control" name="com_name" value="{{ com_info.com_name }}"
                               readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">报名开始时间</span>
                        <input type="text" class="form-control" name="begin_regit" value="{{ com_info.begin_regit }}"
                               readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">报名结束时间</span>
                        <input type="text" class="form-control" name="end_regit" value="{{ com_info.end_regit }}"
                               readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">比赛开始时间</span>
                        <input type="text" class="form-control" name="begin_time" value="{{ com_info.begin_time }}"
                               readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">比赛结束时间</span>
                        <input type="text" class="form-control" name="end_time" value="{{ com_info.end_time }}"
                               readonly>
                    </div>
                </div>
            </div>

            {% if com_info.com_sort_num != 0 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">组别</span>
                            <input type="text" class="form-control" name="sort_list" value="{{ sort_list }}" readonly>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if com_info.if_web != 0 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">官网</span>
                            <input type="text" class="form-control" name="com_web" value="{{ com_info.com_web }}"
                                   readonly>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">指导教师人数</span>
                        <input type="text" class="form-control" name="num_teach" value="{{ com_info.num_teach }}"
                               readonly>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">小组人数</span>
                        <input type="text" class="form-control" name="num_stu" value="{{ com_info.num_stu }}" readonly>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>满员</th>
                    <th>重复</th>
                </tr>
                </thead>
                <tbody>
                <th>
                    <input type="text" class="form-control" name="need_full" value="{{ com_info.need_full }}" readonly>
                </th>
                <th>
                    <input type="text" class="form-control" name="same_stu" value="{{ com_info.same_stu }}" readonly>
                </th>
                </tbody>
            </table>


            <div class="row">
                <h3>学生信息</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>性别</th>
                    <th>院系</th>
                    <th>专业</th>
                    <th>年级</th>
                    <th>班级</th>
                    <th>邮箱</th>
                    <th>手机号码</th>
                    <th>银行卡号</th>
                    <th>其他</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.stu_num }}" name="stu_num" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.stu_name }}" name="stu_name"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.ID_number }}" name="ID_number"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.sex }}" name="sex" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.depart }}" name="depart" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.major }}" name="major" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.grade }}" name="grade" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.stu_class }}" name="stu_class"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.email }}" name="email" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.phone_num }}" name="phone_num"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.bank_number }}" name="bank_number"
                               readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{ com_need.else_info }}" name="else_info"
                               readonly>
                    </td>
                </tr>
                </tbody>
            </table>


            <div class="row">
                <h3>竞赛小组信息</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                <th>小组名称</th>
                <th>作品名称</th>
                </thead>
                <tbody>
                <td>
                    <input type="text" class="form-control" value="{{ com_need.group_name }}" name="group_name"
                           readonly>
                </td>
                <td>
                    <input type="text" class="form-control" value="{{ com_need.product_name }}" name="product_name"
                           readonly>
                </td>
                </tbody>
            </table>

            <div class="row">
                <h3>上传附件</h3>
            </div>
            <div class="row">
                <input type="file" name="com_attach" style="display:inline-block;"/>
                {% if com_publish.com_attachment %}
                    <p class="help-block" style="display:inline-block;">客官已经上传过文件啦：）</p>
                {% else %}
                    <p class="help-block" style="display:inline-block;">客官还没有上传过文件呢：(</p>
                {% endif %}
            </div>

            <div class="row">
                <h3>报名步骤</h3>
            </div>
            <div class="row">
                <textarea class="form-control" rows="5" name="step">{{ com_publish.apply_step }}</textarea>
            </div>
        </form>
    </div>
{% endblock %}